/*--------------------
style.CSS3
colours:
*******
Black:			#000000
Darker Gray:	#222222
Dark Gray:		#333333
Gray:			#444444
Light Gray:		#eeeeee
Light Blue:		#00c0ff
Dark Blue:		#0090bf

------------------*/

/*General styles*/
html {
  -webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #444444;
}
/*Typography*/
h1, h2, h3 {
  font-weight: 300;
  margin: 0;
  line-height: 45px;
}
h4, h5, h6 {
  font-weight: bold;
  margin: 5px 0 5px 0;
}
h1 {
  font-size: 55px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 20px;
  margin: 10px 0;
}
h5 {
  font-size: 15px;
  margin: 0;
  text-transform: uppercase;
}
p {
  margin: 0 0 10px 0;
}
p.lead {
  font-size: 18px;
  font-weight: 300;
  line-height: 34px;
}
/*Layout---------------------------------------------*/
.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}
header {
  background: #000000;
}
#logo {
  display: block;
  padding: 17px 0 16px 5px;
  float: left;
}
#hero {
  background: #00c0ff;
  color: #000;
}
#hero-title {
  width: 520px;
  padding: 60px 0;
  float: left;
}
#hero-image {
  float: right;
  margin: 31px 0 -60px 0;
}
#call-to-action {
  margin: 40px 0;
}
/*Navigation---------------------------------------------*/
nav ul {
  margin: 0;
  padding: 0;
  float: right;
}
nav ul li {
  list-style: none;
  float: left;
}
header nav ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 20px;
  border-left: solid 1px #333;
}
header nav ul li a:hover {
  background: #222;
}
header nav ul li a:active {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8) inset;
     -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8) inset;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.8) inset;
}
/*Buttons*/
.btn {
  width: auto;
  background: #0090bf;
  border: 1px solid #1e728c;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  *display: inline;

  margin: 0;
  outline: none;
  padding: 10px 20px 11px;
  position: relative;
  text-align: center;
  text-decoration: none;

  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
     -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;

 -webkit-transition: background-color 0.15s ease-in-out;
    -moz-transition: background-color 0.15s ease-in-out;
      -o-transition: background-color 0.15s ease-in-out;
         transition: background-color 0.15s ease-in-out;
}
.btn:hover {
  color: #fff;
  background-color: #0086b2;
}
.btn:active {
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
  color: #fff;
}
.btn-large {
  padding: 22px 30px;
  font-size: 24px;
  font-weight: 200;
}
.btn-secondary, .btn-secondary:hover, .btn-secondary:active {
  background: none;
  border: none;
  box-shadow: none;
}
.btn-secondary {
  font-size: 20px;
}
.btn-secondary:hover {
  text-decoration: underline;
}
.btn-secondary:active {
  position: relative;
  top: 1px;
}
/*Global styles*/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
